.parent{
            border: 1px solid  rgb(204, 199, 199);
            width: 532px;
            height: 354px;
            background-color: rgb(204, 199, 199);
        }
        .child1{
            border: 1px solid grey;
            width: 176px;
            height: 44px;
            background-color: rgb(39, 35, 35);
            position: absolute;
            left: 54px;
            top: 46px;
        }
        .child2{
            text-align: center;
            font-family: sans-serif;
            position: absolute;
            left: 53px;
            top: 14px;    
        }
        .child3{
            border: 1px solid grey;
            width: 428px;
            height: 23px;
            background-color: rgb(114, 111, 111);
            position: absolute;
            left: 54px;
            top: 90px;
        }
        .child4{
            text-align: center;
            font-family: sans-serif;
            position: absolute;
            left: 171px;
            top: 1px; 
        
        }
        .child5{
            border: 1px solid grey;
            width: 418px;
            height: 43px;
            background-color: rgb(114, 111, 111);
            position: absolute;
            left: 57px;
            top: 120px;

        }
        .child6{
            text-align: center;
            font-family: sans-serif;
            position: absolute;
            left: 168px;
            top: 7px; 
        }
        .child7{
            border: 1px solid grey;
            width: 240px;
            height: 95px;
            background-color: rgb(65, 62, 62);
            position: absolute;
            left: 59px;
            top: 176px;
        }
        .child8{
            text-align: center;
            font-family: sans-serif;
            position: absolute;
            left: 49px;
            top: 32px; 
        }
        .child9{
            border: 1px solid  rgb(167, 163, 163);
            width: 163px;
            height: 95px;
            background-color: rgb(167, 163, 163);
            position: absolute;
            left: 310px;
            top: 177px;
        }
        .child10{
            text-align: center;
            font-family: sans-serif;
            position: absolute;
            left: 55px;
            top: 37px; 
        }
        .child11{
            border: 1px solid grey;
            width: 414px;
            height: 74px;
            background-color: rgb(110, 107, 107);
            position: absolute;
            left: 57px;
            top: 287px;
        }
        .child12{
            text-align: center;
            font-family: sans-serif;
            position: absolute;
            left: 176px;
            top: 38px; 
        }