.one{
            border: 2px solid black;
            width: 600px;
            height: 800px;
            background-color: rgb(58, 61, 51);
           
        }
        .two{
            text-align: left;
            }
        .three{
            text-align: left;
            
        }